<div class="container">
    <h1 align="center">About Us</h1>
    <hr/>
    <div style=" vertical-align:middle; text-align:center">
        <br>
        <h3>Satya Cheepuri</h3>
        <img src="satyacheepuri.png" alt="Satya's image" style="width:250px;height:250px;">
        <p>
            <br>
            I am Satya Cheepuri. I have started my career in Healthcare Industry. I also have interest in programming from school days. 
            I want to mix my passion of health care and programming. So I joined Computer Programming and Analysis program at Durham College to transition into technology. I am currently doing Computer
            to transition into technology. I am looking for future prosepects in prgramming in healthcare industry.
            <a href="http://www.linkedin.com/in/drsatyacheepuri" target="#">linkedin.com/in/drsatyacheepuri</a>
        </p>

    </div>
</div>