<h1 align="center">Welcome to Our Projects</h1>
<hr />
<div>
    <br>
    <h3>Car Dealership Application</h3>      
    <p>
        This is a Car inventory application for a company where the HR department can monitor their
        car inventories. In this application, the HR department needs to upload multiple employees’ names and
        their driver’s licence numbers to whom they want to give the ownership of the cars. Also, they must
        upload the car dealership information where they usually buy their cars from. After that, the HR
        department can upload the details of the car inventories.
    </p>
    <!-- Photo by Elenabsl at Megapixl.com-->
    <img src="carsale.jpg" alt="Official Site's" style="width:450px;height:250px;" >
    <br>
</div>
<div>
    <br>
    <h3>Salespersons Dashboard</h3>
    <p>Created a salespersons dashboard website for customer mangement. It uses html css, and php; has features like
        dynamic nav bar (appears only when the user is signed in), user registration, secure login functionality, user
        authentication. It connects to a database and enables records searching, display, and updating the records using
        php
        commands. Salespersons wll be able to update their clients' information and also add notes about client phone
        calls.</p>
    <!--Photo by Campaign Creators at Unsplash</a>-->
    <img src="salesperson.jpg" alt="Official Site's" style="width: 450px;height:300px;">
    <br>
</div>
</div>
</div>